@using one.Identity.Models.ClientViewModels
@model ClientClaimsViewModel
@{
    ViewData["Title"] = "Edit Client";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Save" asp-route-id="@Model.Id">

    @await Html.PartialAsync("_clientNavBar", Model.NavBar)
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>@Html.LabelFor(model => model.NewItem.Type)</th>
                    <th>@Html.LabelFor(model => model.NewItem.Value)</th>
                    <th>Actions</th>
                </tr>
            </thead>

            @foreach (var clientClaim in Model.ItemsList)
            {
                <tr>
                    <td>@clientClaim.Type</td>
                    <td>@clientClaim.Value</td>
                    <td><a asp-action="Delete" asp-route-id="@clientClaim.Id" asp-route-clientid="@Model.NavBar.Id" title="Delete"><span class="fa fa-trash"></span></a></td>
                </tr>
            }
            <tr>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtClientId" asp-for="NewItem.Type" pf-validation-for="NewItem.Type" pf-validationerror-class="is-invalid" />
                        <span asp-validation-for="NewItem.Type" class="invalid-feedback"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtClientId" asp-for="NewItem.Value" pf-validation-for="NewItem.Value" pf-validationerror-class="is-invalid" />
                        <span asp-validation-for="NewItem.Value" class="invalid-feedback"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </div>
                </td>

            </tr>
        </table>
    </div>
</form>
