@using spydersoft.Identity.Models.Admin.ApiViewModels
@model ApiScopeViewModel

<div class="card">
    <form asp-action="Edit" asp-route-id="@Model.Id" asp-route-parentid="@Model.ParentId">

        <div class="card-header">
            <h3><a asp-action="Index" asp-route-id="@Model.ParentId" title="Back"><span class="fa fa-arrow-alt-circle-left"></span></a> @ViewData["Title"]</h3> 
        </div>
        <div class="card-body">
            
            @Html.HiddenFor(m => m.ParentId)
            @Html.HiddenFor(m => m.Id)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                <input type="text" class="form-control" id="txtName" asp-for="Name" pf-validation-for="Name" pf-validationerror-class="is-invalid" />
                <span asp-validation-for="Name" class="invalid-feedback"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DisplayName)
                <input type="text" class="form-control" id="txtDisplayName" asp-for="DisplayName" pf-validation-for="DisplayName" pf-validationerror-class="is-invalid" />
                <span asp-validation-for="DisplayName" class="invalid-feedback"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                <input type="text" class="form-control" id="txtDescription" asp-for="Description" pf-validation-for="Description" pf-validationerror-class="is-invalid" />
                <span asp-validation-for="Description" class="invalid-feedback"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="Required" id="chkRequired" />
                    <label class="form-check-label" asp-for="Required"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="Emphasize" id="chkEmphasize" />
                    <label class="form-check-label" asp-for="Emphasize"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="ShowInDiscoveryDocument" id="chkShowInDiscoveryDocument" />
                    <label class="form-check-label" asp-for="ShowInDiscoveryDocument"></label>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <input type="submit" value="Save" class="btn btn-sm btn-primary" formaction="Edit" />
        </div>
    </form>
</div>

