@using one.Identity.Models.ClientViewModels
@model NavBarViewModel

<nav class="nav nav-pills">
    <a class="nav-link @Model.MainActive" asp-area="" asp-controller="Client" asp-action="Edit" asp-route-id="@Model.Id">Main</a>
    @if (Model.Id > 0)
    {
        <a class="nav-link @Model.ScopesActive" asp-area="" asp-controller="ClientScopes" asp-action="Edit" asp-route-id="@Model.Id">Allowed Scopes</a>
        <a class="nav-link @Model.RedirectActive" asp-area="" asp-controller="ClientRedirects" asp-action="Edit" asp-route-id="@Model.Id">Redirect URIs</a>
        <a class="nav-link @Model.ClaimsActive" asp-area="" asp-controller="ClientClaims" asp-action="Edit" asp-route-id="@Model.Id">Claims</a>
        <a class="nav-link @Model.CorsOriginsActive" asp-area="" asp-controller="ClientCorsOrigins" asp-action="Edit" asp-route-id="@Model.Id">Cors Origins</a>
        <a class="nav-link @Model.GrantTypesActive" asp-area="" asp-controller="ClientGrantTypes" asp-action="Edit" asp-route-id="@Model.Id">Grant Types</a>
        <a class="nav-link @Model.IdpRestrictionsActive" asp-area="" asp-controller="ClientIdpRestrictions" asp-action="Edit" asp-route-id="@Model.Id">IDP Restrictions</a>
        <a class="nav-link @Model.PostLogoutActive" asp-area="" asp-controller="ClientPostLogoutRedirectUris" asp-action="Edit" asp-route-id="@Model.Id">Post Logout URIs</a>
        <a class="nav-link @Model.PropertiesActive" asp-area="" asp-controller="ClientProperties" asp-action="Edit" asp-route-id="@Model.Id">Properties</a>
        <a class="nav-link @Model.ClientSecretActive" asp-area="" asp-controller="ClientSecrets" asp-action="Edit" asp-route-id="@Model.Id">Secrets</a>
    }
</nav>
