@using spydersoft.Identity.Models.Admin.ApiResourceViewModels
@model ApiResourceClaimsViewModel

<section>
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <div class="row">
            <div class="card-style mb-30">
                <form asp-action="Save" asp-route-id="@Model.Id">
                    @await Html.PartialAsync("_apiNavBar", Model.NavBar)

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>@Html.LabelFor(model => model.NewItem.Type)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        @foreach (var apiClaim in Model.ItemsList)
                        {
                            <tr>
                                <td>@apiClaim.Type</td>
                                <td><a asp-action="Delete" asp-route-id="@apiClaim.Id" asp-route-parentid="@Model.NavBar.Id" title="Delete"><span class="fa fa-trash"></span></a></td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtClientId" asp-for="NewItem.Type" pf-validation-for="NewItem.Type" pf-validationerror-class="is-invalid" />
                                    <span asp-validation-for="NewItem.Type" class="invalid-feedback"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="submit" value="Add" class="btn btn-sm btn-primary" />
                                </div>
                            </td>

                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>