@model spydersoft.Identity.Models.Grants.GrantsViewModel

<div class="card">
    <div class="card-header">
        <h3>Client Application Access</h3>
        <p>Below is the list of applications you have given access to and the names of the resources they have access to.</p>
    </div>


    <div class="card-body">
        @if (Model.Grants.Any() == false)
        {
            <div class="alert alert-info">
                You have not given access to any applications
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Client</th>
                            <th>Created</th>
                            <th>Expiration</th>
                            <th>Identity Grants</th>
                            <th>API Grants</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var grant in Model.Grants)
                        {

                            <tr>
                                <td>
                                    @if (grant.ClientLogoUrl != null)
                                    {
                                        <img src="@grant.ClientLogoUrl">
                                    }
                                    @grant.ClientName
                                </td>
                                <td>@grant.Created.ToString("yyyy-MM-dd")</td>
                                <td>
                                    @if (grant.Expires.HasValue)
                                    {
                                        @grant.Expires.Value.ToString("yyyy-MM-dd")
                                    }
                                </td>
                                <td>
                                    @if (grant.IdentityGrantNames.Any())
                                    {

                                        <ul>
                                            @foreach (var name in grant.IdentityGrantNames)
                                            {
                                                <li>@name</li>
                                            }
                                        </ul>
                                    }
                                </td>

                                <td>
                                    @if (grant.ApiGrantNames.Any())
                                    {
                                        <ul>
                                            @foreach (var name in grant.ApiGrantNames)
                                            {
                                                <li>@name</li>
                                            }
                                        </ul>

                                    }
                                </td>
                                <td>
                                    <form asp-action="Revoke">
                                        <input type="hidden" name="clientId" value="@grant.ClientId">
                                        <button class="btn btn-danger">Revoke Access</button>
                                    </form>
                                </td>
                            </tr>

                        }
                    </tbody>

                </table>
            </div>
        }

    </div>
</div>