@using Spydersoft.Identity.Models.Admin.ApiResourceViewModels
@model ApiResourceNavBarViewModel

<nav class="mb-6">
    <div class="tabs tabs-bordered">
        <a class="tab tab-bordered" asp-area="" asp-controller="ApiResources" asp-action="Edit" asp-route-id="@Model.Id">Main</a>
        @if (Model.Id > 0)
        {
            <a class="tab tab-bordered" asp-area="" asp-controller="ApiResourceScopes" asp-action="Index" asp-route-id="@Model.Id">Scopes</a>
            <a class="tab tab-bordered" asp-area="" asp-controller="ApiResourceClaims" asp-action="Index" asp-route-id="@Model.Id">Claims</a>
            <a class="tab tab-bordered" asp-area="" asp-controller="ApiResourceProperties" asp-action="Index" asp-route-id="@Model.Id">Properties</a>
            <a class="tab tab-bordered" asp-area="" asp-controller="ApiResourceSecrets" asp-action="Index" asp-route-id="@Model.Id">Secrets</a>
        }
    </div>
</nav>
