@using spydersoft.Identity.Models.Consent
@model ScopeViewModel

<div class="list-group-item list-group-item-action flex-column align-items-start" disabled="@Model.Required">
    <div class="d-flex w-100 justify-content-between">
        <h5>                @Model.DisplayName

            @if (Model.Emphasize)
            {
                <span class="fa fa-exclamation-triangle text-danger"></span>
            }
            @if (Model.Required)
            {
                <span><em>(required)</em></span>
            }</h5>
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   name="ScopesConsented"
                   id="scopes_@Model.Value"
                   value="@Model.Value"
                   checked="@Model.Checked"
                   disabled="@Model.Required"/>
        </div>
    </div>
    @if (Model.Description != null)
    {
        <p class="mb-1">
            <label for="scopes_@Model.DisplayName">@Model.Description</label>
        </p>
    }
    @if (Model.Required)
    {
        <input type="hidden"
               name="ScopesConsented"
               value="@Model.Value" />
    }



</div>