@using spydersoft.Identity.Extensions
<nav class="sidebar-nav">
    <ul>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a></li>
        @if (User.IsInRole("admin"))
        {
            <li class="nav-item nav-item-has-children @(Context.IsISAdminRoute() ? "active" : string.Empty)">
                <a class="collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#dd_clients"
                   aria-controls="dd_clients"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
                    <span class="icon">
                        <svg width="22" height="22" viewBox="0 0 22 22">
                            <path d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z" />
                        </svg>
                    </span>
                    <span class="text">IS Admin</span>
                </a>

                <ul id="dd_clients" class="collapse @(Context.IsISAdminRoute() ? "show" : string.Empty)">
                    <li><a asp-area="" asp-controller="Clients" asp-action="Index"><i class="fa fa-mobile"></i> Clients</a></li>
                    <li><a asp-area="" asp-controller="IdentityResources" asp-action="Index"><i class="fa fa-stream"></i> Resources</a></li>
                    <li><a asp-area="" asp-controller="ApiResources" asp-action="Index"><i class="fa fa-server"></i> APIs</a></li>
                    <li><a asp-area="" asp-controller="Scopes" asp-action="Index"><i class="fa fa-server"></i> Scopes</a></li>
                </ul>
            </li>
            <li class="nav-item nav-item-has-children @(Context.IsUserAdminRoute() ? "active" : string.Empty)">
                <a class="collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#ddmenu_2"
                   aria-controls="ddmenu_2"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
                    <i class="fa fa-users icon"></i>
                    <span class="text">User Admin</span>
                </a>
                <ul id="ddmenu_2" class="collapse @(Context.IsUserAdminRoute() ? "show" : string.Empty)">
                    <li><a asp-area="" asp-controller="Users" asp-action="Index"><i class="fa fa-users"></i> Users</a></li>
                    <li><a asp-area="" asp-controller="UserRoles" asp-action="Index"><i class="fa fa-user-tag"></i> Roles</a></li>
                </ul>
            </li>
        }
        <li class="nav-item nav-item-has-children @(Context.IsSpydersoftRoute() ? "active" : string.Empty)">
            <a class="collapsed"
               data-bs-toggle="collapse"
               data-bs-target="#ddmenu_3"
               aria-controls="ddmenu_3"
               aria-expanded="false"
               aria-label="Toggle navigation">
                <img src="~/images/favicon.svg" alt="Spydersoft Icon" class="icon" width="25" height="25" />
                <span class="text">Spydersoft</span>
            </a>
            <ul id="ddmenu_3" class="collapse @(Context.IsSpydersoftRoute() ? "show" : string.Empty)">
                <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="fa fa-address-card"></i> Contact</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About"><i class="fa fa-info-circle"></i> About</a></li>
            </ul>
        </li>
    </ul>

</nav>