@using spydersoft.Identity.Models.Admin.ClientViewModels
@model spydersoft.Identity.Models.Admin.ClientViewModels.ClientViewModel
@{
    if (Model.Id > 0)
    {
        ViewData["Title"] = "Edit Client";
    }
    else
    {
        ViewData["Title"] = "New Client";
    }
}

<h2>@ViewData["Title"]</h2>


@await Html.PartialAsync("_clientNavBar", Model.NavBar)

<form asp-action="Edit">
    <div class="border px-2 py-1">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientId)
            <input type="text" class="form-control" id="txtClientId" asp-for="ClientId" pf-validation-for="ClientId" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="ClientId" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ClientName)
            <input type="text" class="form-control" id="txtClientName" asp-for="ClientName" pf-validation-for="ClientName" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="ClientName" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ClientUri)
            <input type="text" class="form-control" id="txtClientUri" asp-for="ClientUri" pf-validation-for="ClientUri" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="ClientUri" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            <input type="text" class="form-control" id="txtDescription" asp-for="Description" pf-validation-for="Description" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="Description" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="chkEnabled" asp-for="Enabled" />
                <label class="form-check-label" asp-for="Enabled"></label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProtocolType)
            <input type="text" class="form-control" id="txtProtocolType" asp-for="ProtocolType" pf-validation-for="ProtocolType" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="ProtocolType" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AbsoluteRefreshTokenLifetime)
            <input type="text" class="form-control" id="txtAbsoluteRefreshTokenLifetime" asp-for="AbsoluteRefreshTokenLifetime" pf-validation-for="AbsoluteRefreshTokenLifetime" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="AbsoluteRefreshTokenLifetime" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AccessTokenLifetime)
            <input type="text" class="form-control" id="txtAccessTokenLifetime" asp-for="AccessTokenLifetime" pf-validation-for="AccessTokenLifetime" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="AccessTokenLifetime" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="chkEnabled" asp-for="AllowAccessTokensViaBrowser" />
                <label class="form-check-label" asp-for="AllowAccessTokensViaBrowser"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="chkEnabled" asp-for="AllowOfflineAccess" />
                <label class="form-check-label" asp-for="AllowOfflineAccess"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="chkAllowPlainTextPkce" asp-for="AllowPlainTextPkce" />
                <label class="form-check-label" asp-for="AllowPlainTextPkce"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="chkAllowRememberConsent" asp-for="AllowRememberConsent" />
                <label class="form-check-label" asp-for="AllowRememberConsent"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="chkAlwaysSendClientClaims" asp-for="AlwaysSendClientClaims" />
                <label class="form-check-label" asp-for="AlwaysSendClientClaims"></label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AuthorizationCodeLifetime)
            <input type="text" class="form-control" id="txtAuthorizationCodeLifetime" asp-for="AuthorizationCodeLifetime" pf-validation-for="AuthorizationCodeLifetime" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="AuthorizationCodeLifetime" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="EnableLocalLogin" id="chkEnableLocalLogin" />
                <label class="form-check-label" asp-for="EnableLocalLogin"></label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IdentityTokenLifetime)
            <input type="text" class="form-control" id="txtIdentityTokenLifetime" asp-for="IdentityTokenLifetime" pf-validation-for="IdentityTokenLifetime" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="IdentityTokenLifetime" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="IncludeJwtId" id="chkIncludeJwtId" />
                <label class="form-check-label" asp-for="IncludeJwtId"></label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LogoUri)
            <input type="text" class="form-control" id="txtLogoUri" asp-for="LogoUri" pf-validation-for="LogoUri" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="LogoUri" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RefreshTokenExpiration)
            <input type="text" class="form-control" id="txtRefreshTokenExpiration" asp-for="RefreshTokenExpiration" pf-validation-for="RefreshTokenExpiration" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="RefreshTokenExpiration" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RefreshTokenUsage)
            <input type="text" class="form-control" id="txtRefreshTokenUsage" asp-for="RefreshTokenUsage" pf-validation-for="RefreshTokenUsage" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="RefreshTokenUsage" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="RequireClientSecret" id="chkRequireClientSecret" />
                <label class="form-check-label" asp-for="RequireClientSecret"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="RequireConsent" id="chkRequireConsent" />
                <label class="form-check-label" asp-for="RequireConsent"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="RequirePkce" id="chkRequirePkce" />
                <label class="form-check-label" asp-for="RequirePkce"></label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SlidingRefreshTokenLifetime)
            <input type="text" class="form-control" id="txtSlidingRefreshTokenLifetime" asp-for="SlidingRefreshTokenLifetime" pf-validation-for="SlidingRefreshTokenLifetime" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="SlidingRefreshTokenLifetime" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="UpdateAccessTokenClaimsOnRefresh" id="chkUpdateAccessTokenClaimsOnRefresh" />
                <label class="form-check-label" asp-for="UpdateAccessTokenClaimsOnRefresh"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="AlwaysIncludeUserClaimsInIdToken" id="chkAlwaysIncludeUserClaimsInIdToken" />
                <label class="form-check-label" asp-for="AlwaysIncludeUserClaimsInIdToken"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="BackChannelLogoutSessionRequired" id="chkBackChannelLogoutSessionRequired" />
                <label class="form-check-label" asp-for="BackChannelLogoutSessionRequired"></label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BackChannelLogoutUri)
            <input type="text" class="form-control" id="txtBackChannelLogoutUri" asp-for="BackChannelLogoutUri" pf-validation-for="BackChannelLogoutUri" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="BackChannelLogoutUri" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ClientClaimsPrefix)
            <input type="text" class="form-control" id="txtClientClaimsPrefix" asp-for="ClientClaimsPrefix" pf-validation-for="ClientClaimsPrefix" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="ClientClaimsPrefix" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConsentLifetime)
            <input type="text" class="form-control" id="txtConsentLifetime" asp-for="ConsentLifetime" pf-validation-for="ConsentLifetime" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="ConsentLifetime" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="FrontChannelLogoutSessionRequired" id="chkFrontChannelLogoutSessionRequired" />
                <label class="form-check-label" asp-for="FrontChannelLogoutSessionRequired"></label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FrontChannelLogoutUri)
            <input type="text" class="form-control" id="txtFrontChannelLogoutUri" asp-for="FrontChannelLogoutUri" pf-validation-for="FrontChannelLogoutUri" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="FrontChannelLogoutUri" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PairWiseSubjectSalt)
            <input type="text" class="form-control" id="txtPairWiseSubjectSalt" asp-for="PairWiseSubjectSalt" pf-validation-for="PairWiseSubjectSalt" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="PairWiseSubjectSalt" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeviceCodeLifetime)
            <input type="text" class="form-control" id="txtDeviceCodeLifetime" asp-for="DeviceCodeLifetime" pf-validation-for="DeviceCodeLifetime" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="DeviceCodeLifetime" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="NonEditable" id="chkNonEditable" />
                <label class="form-check-label" asp-for="NonEditable"></label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UserCodeType)
            <input type="text" class="form-control" id="txtUserCodeType" asp-for="UserCodeType" pf-validation-for="UserCodeType" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="UserCodeType" class="invalid-feedback"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UserSsoLifetime)
            <input type="text" class="form-control" id="txtUserSsoLifetime" asp-for="UserSsoLifetime" pf-validation-for="UserSsoLifetime" pf-validationerror-class="is-invalid" />
            <span asp-validation-for="UserSsoLifetime" class="invalid-feedback"></span>
        </div>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

