@using one.Identity.Models.Admin.ApiViewModels
@model one.Identity.Models.Admin.ApiViewModels.ApisViewModel
@{
    ViewData["Title"] = "APIs";
}

<h2>@ViewData["Title"]</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Display Name</th>
                <th>Actions&nbsp;<a asp-controller="Apis" asp-action="Edit"><span class="fa fa-plus"></span></a></th>
            </tr>
        </thead>

        @foreach (var api in Model.Apis)
        {
            <tr>
                <td>@api.Name</td>
                <td>@api.DisplayName</td>
                <td>
                    <a asp-controller="Apis" asp-action="Edit" asp-route-id="@api.Id"><span class="fa fa-edit"></span></a>
                    <a asp-controller="Apis" asp-action="Delete" asp-route-id="@api.Id" title="Delete"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        }
    </table>
    
</div>
