@using spydersoft.Identity.Models.Admin.ApiResourceViewModels
@model ApiResourceScopeViewModel

<section>
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <div class="row">
            <div class="card-style mb-30">
                <form asp-action="Edit" asp-route-id="@Model.Id" asp-route-parentid="@Model.ParentId">

                    <div class="text">
                        <h3><a asp-action="Index" asp-route-id="@Model.ParentId" title="Back"><span class="fa fa-arrow-alt-circle-left"></span></a> @ViewData["Title"]</h3>
                    </div>
                    <div class="card-content">

                        @Html.HiddenFor(m => m.ParentId)
                        @Html.HiddenFor(m => m.Id)

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Scope)
                            <input type="text" class="form-control" id="txtName" asp-for="Scope" pf-validation-for="Scope" pf-validationerror-class="is-invalid" />
                            <span asp-validation-for="Scope" class="invalid-feedback"></span>
                        </div>

                    </div>

                    <div>
                        <input type="submit" value="Save" class="btn btn-sm btn-primary" formaction="Edit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
