@using Spydersoft.Identity.Models.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="tabs tabs-bordered mb-6">
    <a class="tab tab-bordered @(ManageNavPages.IndexNavClass(ViewContext) == "active" ? "tab-current" : "")" asp-action="Index">
        <i class="fas fa-user mr-2"></i>
        Profile
    </a>
    <a class="tab tab-bordered @(ManageNavPages.ChangePasswordNavClass(ViewContext) == "active" ? "tab-current" : "")" asp-action="ChangePassword">
        <i class="fas fa-lock mr-2"></i>
        Password
    </a>
    @if (hasExternalLogins)
    {
        <a class="tab tab-bordered @(ManageNavPages.ExternalLoginsNavClass(ViewContext) == "active" ? "tab-current" : "")" asp-action="ExternalLogins">
            <i class="fas fa-sign-in-alt mr-2"></i>
            External logins
        </a>
    }
    <a class="tab tab-bordered @(ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) == "active" ? "tab-current" : "")" asp-action="TwoFactorAuthentication">
        <i class="fas fa-shield-alt mr-2"></i>
        Two-factor authentication
    </a>
    <a class="tab tab-bordered @(ManageNavPages.UserClaimsInfoNavClass(ViewContext) == "active" ? "tab-current" : "")" asp-action="UserClaimsInfo">
        <i class="fas fa-info-circle mr-2"></i>
        User Claims Info
    </a>
</div>

